.App-body {
  background-color: #282c34;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr minmax(200px, 330px);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body > div {
  border: 1px solid whitesmoke;
}

.App-link {
  color: #09d3ac;
}
